.nav-bar {
  height: 100%;
  background-color: #1F1F1F;
  .title-text {
    color: #FFF;
    text-align: center;
  }
}
.scroll-content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.tool-cell {
  height: 120rpx;
  line-height: 120rpx;
  overflow: hidden;
  padding: 0 0 0 20rpx;
}

@media (prefers-color-scheme: dark) {
  .nav-bar {
    height: 100%;
    //background-color: #F7F7F7 ;
    background-color: rebeccapurple !important;
    .title-text {
      color: #000;
      text-align: center;
    }
  }
  .scroll-content {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }
  .tool-cell {
    height: 120rpx;
    line-height: 120rpx;
  }
}



